.Result {
  /* background-color: turquoise; */
  max-width: 50%;
  margin: auto;
  padding: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.result-options--list {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

.result-options--button {
  margin: 1rem 0;
  font-size: 1rem;
  padding: 1rem;
  background-color: var(--lightblue);
  border: 2px solid var(--lightblue);
  border-radius: 0.5rem;
}

.green-button {
  background-color: var(--darkgreen);
  color: white;
  transition: 0.25s ease-in-out;
}

.red-button {
  background-color: var(--darkred);
  color: white;
  transition: 0.25s ease-in-out;
}

.box-border {
  border: 2px solid var(--dark-blue);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 10px;
}

.back-button {
  padding: 0.4rem;
  background-color: var(--dark-blue);
  border: 2px solid var(--dark-blue);
  color: white;
}

.back-button:hover {
  background-color: white;
  color: var(--dark-blue);
  transition: 0.15s ease-in-out;
}
