.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2874f0;
  color: white;
  z-index: 1;
  height: 10vh;
  padding: 0 10rem;
}

.navbar-brand {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-links {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.bold {
  font-weight: 700;
}

.transparent-button {
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 11rem;
  background-color: var(--dark-blue);
  color: white;
  font-size: 1rem;
}

.transparent-button:hover {
  color: var(--dark-blue);
  background-color: white;
}

.shadow:hover {
  filter: drop-shadow(2px 4px 8px #000);
}

.flat-button {
  background-color: white;
  color: var(--dark-blue);
  padding: 0.5rem 2.5rem;
  border: 1px solid white;
  font-weight: bold;
}

.flat-button:hover {
  color: white;
  background-color: var(--dark-blue);
  transition: 0.2s ease-in;
}
